h1 {
  font-size: 32px !important;
  text-align: center;
  font-weight: bold !important;
}

.member {
  font-size: large;
}
.member:hover, .city:hover {
  font-weight: bold;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.city {
  font-weight: bold;
}

.hibak p {
	color: red;
}